/public
package.json
package-lock.json
README.md
/temp
/dev
/build
/public/bundle.js
/.vscode
/src/lib/Graphic
/src/lib/Classes
tsconfig.json
.eslintrc.json
.gitignore
.prettierrc.json
babel.config.json