$black_color: #212529;
$white_color: #fff;

body {
    font-family: $font-main;
    font-size: $font-size;
    line-height: $lineheight;
}

* {
    color: $white_color;
    background-color: $black_color;
}

/*your style code*/
.myBold {
    font-weight: 900;
}

  